@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <div class="row">
        <!-- Formulär: Lägg till nytt jobb -->
        <div class="col-md-6">
            <h3>Lägg till nytt jobb</h3>
            <!-- Här bygger vi formuläret -->
        </div>

        <!-- Lista: Visar alla jobb -->
        <div class="col-md-6">
            <h3>Sökta jobb</h3>
            <!-- Här bygger vi listan -->
        </div>
    </div>
</div>